<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" status="debug">

	<Appenders>
		<Console name="appender-Console-all" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<File name="appender-smpp-debug" fileName="${sys:catalina.home}/logs/smppLogs/smpp.log"
			append="true">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Filters>
				<ThresholdFilter level="error" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="warn" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="fatal" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="info" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="debug" onMatch="ACCEPT"
					onMismatch="DENY" />
			</Filters>
		</File>

		<File name="appender-sendsms-info" fileName="${sys:catalina.home}/logs/smppLogs/smpp_sendsms.log"
			append="true">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Filters>
				<ThresholdFilter level="warn" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="error" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="fatal" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="info" onMatch="ACCEPT"
					onMismatch="DENY" />
				<ThresholdFilter level="debug" onMatch="DENY"
					onMismatch="NEUTRAL" />
			</Filters>
		</File>

		<File name="appender-dn-info" fileName="${sys:catalina.home}/logs/smppLogs/smpp_dn.log"
			append="true">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Filters>
				<ThresholdFilter level="warn" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="error" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="fatal" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="info" onMatch="ACCEPT"
					onMismatch="DENY" />
				<ThresholdFilter level="debug" onMatch="DENY"
					onMismatch="NEUTRAL" />
			</Filters>
		</File>
		
		<File name="appender-mo-info" fileName="${sys:catalina.home}/logs/smppLogs/smpp_mo.log"
			append="true">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Filters>
				<ThresholdFilter level="warn" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="error" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="fatal" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="info" onMatch="ACCEPT"
					onMismatch="DENY" />
				<ThresholdFilter level="debug" onMatch="DENY"
					onMismatch="NEUTRAL" />
			</Filters>
		</File>
	</Appenders>


	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="appender-Console-all" />
		</Root>

		<Logger name="smpplogger" additivity="false" level="DEBUG">
			<!-- <AppenderRef ref="appender-smpp-debug" level="ALL" /> -->
			<AppenderRef ref="appender-smpp-debug" level="DEBUG" />
		</Logger>

		<Logger name="sendsmslogger" additivity="false" level="INFO">
			<AppenderRef ref="appender-sendsms-info" level="INFO" />
		</Logger>

		<Logger name="dnlogger" additivity="false" level="INFO">
			<AppenderRef ref="appender-dn-info" level="INFO" />
		</Logger>
		
		<Logger name="mologger" additivity="false" level="INFO">
			<AppenderRef ref="appender-mo-info" level="INFO" />
		</Logger>
	</Loggers>
</Configuration>