<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Properties>
		<Property name="log-path">logs/debuglogs</Property>
		<Property name="dbCleaner-log-path">logs/debuglogs/dbCleaner</Property>
		<Property name="talendRetry-log-path">logs/debuglogs/talendRetry</Property>
	</Properties>

	<Appenders>
		<Console name="appender-Console-all" target="SYSTEM_OUT">
			<!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} 
				- %msg%n" /> -->
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>

		<RollingFile name="appender-smpp-debug"
			fileName="${sys:catalina.home}/${log-path}/smpp.log"
			filePattern="${sys:catalina.home}/${log-path}/smpp.log.%d{yyyy-MM-dd-HH}.gz"
			append="true">
			<!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} 
				- %msg%n" /> -->
			<PatternLayout>
				<!-- <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern> -->
				<Pattern>%highlight{%d{ISO8601} %-5p [%c:%F:%L] - [%t]
					-%m%n}{STYLE=Logback}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<!-- <SizeBasedTriggeringPolicy size="1 kB" /> -->
			</Policies>
			<DefaultRolloverStrategy max="100" />
			<Filters>
				<ThresholdFilter level="error" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="warn" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="fatal" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="info" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="debug" onMatch="ACCEPT"
					onMismatch="DENY" />
			</Filters>
		</RollingFile>

		<RollingFile name="appender-sendsms-info"
			fileName="${sys:catalina.home}/${log-path}/smpp_sendsms.log"
			filePattern="${sys:catalina.home}/${log-path}/smpp_sendsms.log.%d{yyyy-MM-dd-HH}.gz"
			append="true">
			<!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} 
				- %msg%n" /> -->
			<PatternLayout>
				<!-- <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern> -->
				<Pattern>%highlight{%d{ISO8601} %-5p [%c:%F:%L] - [%t]
					-%m%n}{STYLE=Logback}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<!-- <SizeBasedTriggeringPolicy size="1 kB" /> -->
			</Policies>
			<DefaultRolloverStrategy max="100" />
			<Filters>
				<ThresholdFilter level="warn" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="error" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="fatal" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="info" onMatch="ACCEPT"
					onMismatch="DENY" />
				<ThresholdFilter level="debug" onMatch="DENY"
					onMismatch="NEUTRAL" />
			</Filters>
		</RollingFile>

		<RollingFile name="appender-dn-info"
			fileName="${sys:catalina.home}/${log-path}/smpp_dn.log"
			filePattern="${sys:catalina.home}/${log-path}/smpp_dn.log.%d{yyyy-MM-dd-HH}.gz"
			append="true">
			<!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} 
				- %msg%n" /> -->
			<PatternLayout>
				<!-- <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern> -->
				<Pattern>%highlight{%d{ISO8601} %-5p [%c:%F:%L] - [%t]
					-%m%n}{STYLE=Logback}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<!-- <SizeBasedTriggeringPolicy size="1 kB" /> -->
			</Policies>
			<DefaultRolloverStrategy max="100" />
			<Filters>
				<ThresholdFilter level="warn" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="error" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="fatal" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="info" onMatch="ACCEPT"
					onMismatch="DENY" />
				<ThresholdFilter level="debug" onMatch="DENY"
					onMismatch="NEUTRAL" />
			</Filters>
		</RollingFile>

		<RollingFile name="appender-smpp-db-cleaner"
			fileName="${sys:catalina.home}/${dbCleaner-log-path}/smpp_db_cleaner.log"
			filePattern="${sys:catalina.home}/${dbCleaner-log-path}/smpp_db_cleaner.log.%d{yyyy-MM-dd-HH}.gz"
			append="true">
			<PatternLayout>
				<!-- <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern> -->
				<Pattern>%highlight{%d{ISO8601} %-5p [%c:%F:%L] - [%t]-%m%n}{STYLE=Logback}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
			<Filters>
				<ThresholdFilter level="error" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="warn" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="fatal" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="info" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="debug" onMatch="ACCEPT"
					onMismatch="DENY" />
			</Filters>
		</RollingFile>

		<RollingFile name="appender-smpp-db-status"
			fileName="${sys:catalina.home}/${dbCleaner-log-path}/smpp_requests_db_status.log"
			filePattern="${sys:catalina.home}/${dbCleaner-log-path}/smpp_requests_db_status.log.%d{yyyy-MM-dd-HH}.gz"
			append="true">
			<PatternLayout>
				<!-- <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern> -->
				<Pattern>%highlight{%d{ISO8601} %-5p [%c:%F:%L] - [%t]-%m%n}{STYLE=Logback}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
			<Filters>
				<ThresholdFilter level="warn" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="error" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="fatal" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="info" onMatch="ACCEPT"
					onMismatch="DENY" />
				<ThresholdFilter level="debug" onMatch="DENY"
					onMismatch="NEUTRAL" />
			</Filters>
		</RollingFile>

		<RollingFile name="appender-smpp-talend-retrail"
			fileName="${sys:catalina.home}/${talendRetry-log-path}/smpp_talend_retrail.log"
			filePattern="${sys:catalina.home}/${talendRetry-log-path}/smpp_talend_retrail.log.%d{yyyy-MM-dd-HH}.gz"
			append="true">
			<PatternLayout>
				<!-- <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern> -->
				<Pattern>%highlight{%d{ISO8601} %-5p [%c:%F:%L] - [%t]-%m%n}{STYLE=Logback}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
			<Filters>
				<ThresholdFilter level="error" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="warn" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="fatal" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="info" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="debug" onMatch="ACCEPT"
					onMismatch="DENY" />
			</Filters>
		</RollingFile>

		<RollingFile name="appender-smpp-talend-retrail-rec"
			fileName="${sys:catalina.home}/${talendRetry-log-path}/smpp_talend_retrail_recs.log"
			filePattern="${sys:catalina.home}/${talendRetry-log-path}/smpp_talend_retrail_recs.log.%d{yyyy-MM-dd-HH}.gz"
			append="true">
			<PatternLayout>
				<!-- <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern> -->
				<Pattern>%highlight{%d{ISO8601} %-5p [%c:%F:%L] - [%t]-%m%n}{STYLE=Logback}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
			<Filters>
				<ThresholdFilter level="warn" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="error" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="fatal" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="info" onMatch="ACCEPT"
					onMismatch="DENY" />
				<ThresholdFilter level="debug" onMatch="DENY"
					onMismatch="NEUTRAL" />
			</Filters>
		</RollingFile>

	</Appenders>

	<Loggers>
		<AsyncLogger name="smpplogger" additivity="false" level="DEBUG">
			<!-- <AppenderRef ref="appender-smpp-debug" level="ALL" /> -->
			<AppenderRef ref="appender-smpp-debug" level="DEBUG" />
		</AsyncLogger>

		<AsyncLogger name="sendsmslogger" additivity="false"
			level="INFO">
			<AppenderRef ref="appender-sendsms-info" level="INFO" />
		</AsyncLogger>

		<AsyncLogger name="dnlogger" additivity="false" level="INFO">
			<AppenderRef ref="appender-dn-info" level="INFO" />
		</AsyncLogger>

		<AsyncLogger name="smppDBCleanerLogger" additivity="false"
			level="DEBUG">
			<AppenderRef ref="appender-smpp-db-cleaner" level="DEBUG" />
		</AsyncLogger>

		<AsyncLogger name="smppDBCurrentStatus" additivity="false"
			level="INFO">
			<AppenderRef ref="appender-smpp-db-status" level="INFO" />
		</AsyncLogger>

		<AsyncLogger name="smpptTalendRetrail" additivity="false"
			level="DEBUG">
			<AppenderRef ref="appender-smpp-talend-retrail" level="DEBUG" />
		</AsyncLogger>

		<AsyncLogger name="smppTalendRetrailRec" additivity="false"
			level="INFO">
			<AppenderRef ref="appender-smpp-talend-retrail-rec"
				level="INFO" />
		</AsyncLogger>


		<AsyncRoot level="WARN" includeLocation="true" additivity="false">
			<AppenderRef ref="appender-smpp-debug" />
			<AppenderRef ref="appender-sendsms-info" />
			<AppenderRef ref="appender-dn-info" />

			<AppenderRef ref="appender-smpp-db-cleaner" />
			<AppenderRef ref="appender-smpp-db-status" />
			<AppenderRef ref="appender-smpp-talend-retrail" />
			<AppenderRef ref="appender-smpp-talend-retrail-rec" />

			<AppenderRef ref="appender-Console-all" />
		</AsyncRoot>
	</Loggers>
</Configuration>